<html>
<head>
	<title>Writeback extension</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.js"></script>-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="tableau-extensions-1.latest.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<style>
     body { font: "Benton Sans SemiDemi",Arial,Helvetica,sans-serif 12px/20px;  }
     table.info-table { font-size: 12px; }
	</style>
</head>
<body>
  <div class="container">

    <div id="editor-wrap">

      <div class="row">
        <div class="col-sm-12">
          <div id="intro-text">
            <h3>Edit the selected data</h3>
            <p>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <!-- The actual editor form -->
          <div class='editor-form-wrap'>
            <form id="editor-form">

              <input type="hidden" name="id" value="" />
              <input type="hidden" name='user' value"Anonymous or Desktop" />

              <table class='table table-condensed info-table'>
                <tbody>
                  <tr>
                    <th>AS USER</th>
                    <td data-field="user"></td>
                  </tr>
                  <tr>
                    <th>System name</th>
                    <td data-field="system_name"><td>
                  </tr>
                  <tr>
                    <th>Port location</th>
                    <td data-field="port_location"><td>
                  </tr>
                  <tr>
                    <th>Month start</th>
                    <td data-field="month_start"><td>
                  </tr>
                  <tr>
                    <th>Unit price</th>
                    <td>$<span data-field="unit_price"></span><td>
                  </tr>

                  <tr>
                    <th>
                      <label for="quantity-input">Quantity</label>
                    </th>
                    <td>
                      <input type="number" class="form-control" id="quantity-input" name='quantity' placeholder="New quantity">
                    </td>
                  </tr>

                  <tr>
                    <th>
                      <label for="comment-input">Comment for this point</label>
                    </th>
                    <td >
                      <textarea name='comment' placeholder='Add a comment...' id='comment-input' class='form-control'></textarea>
                    </td>
                  </tr>

                </tbody>
              </table>


              <a href="#" class="btn btn-default" data-submit="true" data-url="/update-comment/{{id}}">Submit</a>

            </form>
          </div>

        </div>
      </div>
    </div>


  </div>

</body>
</html>
